body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
}

#svelte {
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4 {
	color: var(--app-primary-color);
}

p {
	color: var(--app-text-color);
}

a {
	color: var(--app-link-color);
	text-decoration: none;
}
